.corpo {
	background-color: #a00000;
}

.principal {
	color: snow;
}

.divisao1 {
	border: 2px solid snow;
	margin: 10px 13px;
}

.titulo {
	font-size: 50px;
	text-align: center;
	text-decoration: underline;
	margin: 15px;
}

.paragrafo {
	font-size: 18px;
	text-align: center;
	margin: 20px 0px;
}

.p1 {
	padding: 13px 15px;
	font-size: 17px;
}

.regiaopk {
	text-align: center;
	font-size: 30px;
	margin: 15px;
}

.strong1 {
	text-decoration: underline;
	font-weight: bold;
}

.conclusao {
	font-size: 60px;
	font-weight: bold;
	text-decoration: underline;
	text-align: center;
	margin: 0 0 50px 0;
}

.divisao2 {
	text-align: center;
	background: url(footer2.png);
	padding: 40px 0;
}

.fim{
	padding-bottom: 30px;
}

.referencia {
	margin: 10px;
	font-size: 30px;
	width: 150px;
	text-align: center;
}

a:link {
  color: red;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: red;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
  font-size: 35px;
}

a:active {
  color: blue;
  background-color: transparent;
  text-decoration: underline;

}

.essesite {
	font-size: 20px;
}

.listafim {
	color: white;
	margin: 5px;
}

.contato {
	font-size: 30px;
	text-decoration:underline;
	font-weight: bold;
	margin: 20px;
}